
NEED TO DO OR ADD JHAY

.env

BYPASS 

BACK TO LIST HIGHLIGHT

AUTOMATION ITEM INVENTORY

PAKO

2. P.O NUMBER ABOUT SA DRAFTS

GAWA GALANG AT JOAN TULAD SA FILE EXPLORER  

3. KADA CREATE NG PROJECT, AUTOMATIC GAGAWA NG CLIENT FILE GAWA NG SA FILE EXPLORER, UNG FILE NAME NUN AY UNG PROJECT CLIENT. KAPAG OLD CLIENT TAS GUMAWA ULIT BAGO PROJECT DUN PADEN ILALAGAY PARA IWAS DUPLICATE FILES.


4. UNG ABOUT SA ASSET TYPE

5. SER BERN ANO ANO PO BA UNG MGA NAWAWALA SA ASSETS?

6. PANO NAMAN KUNG UMAYAW NA SI CLIENT SA PROJECT, ANO NA PO ANG MANGYARE, AT ANO ANG GAGAWIN SA MGA NAGASTOS AT IBA PA?

7. PROJECT CODE SAMPLE MAAM ERIKA 


ang gawin mo pala is si engineer ang mag ooorder ng supply pero si foreman ang mga req 

Manage Users - Project Redundant
Email - remove
Project Budget - w/ Computation Automated add  ceiling 
Asset no. quantity
Status per  user/level/improve
Reports
Remove responsibility task not or that

When you use a dashboard   color for the button . its font should be readable .(foreman)

Manage Users - Project Redundant
Email - remove
Project Budget - w/ Computation Automated add  ceiling 
Asset no. quantity
Status per  user/level/improve
Reports
Remove responsibility task not or that

When you use a dashboard   color for the button . its font should be readable .(foreman)

Manage Users - Project Redundant
Email - remove
Project Budget - w/ Computation Automated add  ceiling 
Asset no. quantity
Status per  user/level/improve
Reports
Remove responsibility task not or that

When you use a dashboard   color for the button . its font should be readable .(foreman)

Rearrange the system to avoid discrepancies

Provide a cleared template or reports for project management

# Runtime session files
storage/sessions/

Provide a cleared template or reports for project management

Provide a cleared template or reports for project management



PROBLEM
 kapag nag reset pass ako tas nag click to login ay nagdirect sa super admin